.keyboard {
  max-width: 1200px;
  margin: 20px auto 0;
  font-size: 24px;
  background-color: $additionalBackgroundColor;
}

.keyboard_keystring{
  display: flex;
  align-items: stretch;
  justify-content: space-between;  
}

.keyboard_button {
  position: relative;
  height:60px;
  margin: 5px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  color: $textColor;
  background-color: $keyProjectColor;


  &:hover {
    background-color: $keyHoverColor;
  }

  &-pressed {
    animation: press 0.25s;
    background-color: $additionalProjectColor;

    &:hover {
      background-color: $additionalHoverColor;
    }
  }

  &--symbol {
    margin: 0;
  }

  &--alternate {
    position: absolute;
    top: 5px;
    right: 5px;
    margin: 0;
    font-size: 18px;
    color: $additionalTextColor;
    background-color: transparent;
  }
}