//color scheme
$backgroundColor: black;
$additionalBackgroundColor: white;
$textColor: white;
$additionalTextColor: black;
$keyProjectColor: #E3B873;
$keyHoverColor: darken($keyProjectColor,30%);
$transparentColor: #ffffff00;
