//color scheme
$backgroundColor: lightgrey;
$additionalBackgroundColor: darken($backgroundColor,15);
$textColor: black;
$additionalTextColor: grey;
$keyProjectColor: lightblue;
$keyHoverColor: darken($keyProjectColor,5%);
$additionalProjectColor: complement($keyProjectColor);
$additionalHoverColor: darken($additionalProjectColor,5%);

@keyframes press {
  from{background-color: $keyProjectColor;}
  to{background-color: $additionalProjectColor;}
}